/* general CSS */
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* CSS for the Top part */
.top-main{
    margin: 0;
    padding-left: 240px;
    padding-right: 240px;
    background-color: #1f2937;
    color: #F9FAF8;
    
}
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-list{
    display: flex;
    list-style: none;
    
}
.nav-list a{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}
.nav-item{
    display: flex;
    margin-left: 2rem;
}

.container{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
    
    
}

.hero-img{
    
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.logo{
    font-size: 24px;
    margin-right: auto;
   
   
    
}

.hero{
    
    
    width: 500px;
    height: 300px;
    
}

.hero h1{
    padding: 0;
    margin-top: 0;
}

.signup{
    text-decoration: none;
    color: #F9FAF8;
    background-color: #3882F6;
    width: 100px;
    height: 60px;
    padding: 5px;
    border-radius: 5px;
}

.hero{
    align-content: center;
}

/* Styles for info */
.info{
    margin: 0;
   
}
.info-img {
    width: 300px;
    height: 200px;
    border: 7px solid #3882F6;
    border-radius: 30px;
}

.containerA {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    
}
.containerB{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 60px;
    
    
}

.subtext{
    max-width: 300px;
    text-align: center;
   
}

/* Styles for quote */

.quote-section {
    height: 300px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.quote{
    font-size: 36px;
    font-family: Merriweather, serif;
    text-align: center;
    box-sizing: border-box;
    width: 600px;
    
}

.quote-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

/* styles for call to action */

.action-background{
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px 50px;
    margin: 50px;
    width: 50%;
}
.action-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    
}
.signup.action-button {
    border: 1px solid #E5E7EB;
    text-decoration: none;
    color: #F9FAF8;
    background-color: #3882F6;
    width: 100px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-background p {
    color: #E5E7EB;
    
}

/* styles for footer */

footer{
    text-align: center;
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 50px;
}

